#contacto{
	box-sizing:border-box;
	padding:0;
}

#contacto form{
	padding:0;
	padding-top:3%;
}

#contacto form > div{
	width:47%;
	display:inline-block;
	vertical-align:top;
}

#contacto form > div:nth-child(3){
	width:100%;
	height: 50px;
	margin-bottom:2%;
}

input[type=submit]{
	background:#80d69d;
	width:100%;
	height: 50px;
	padding:5px 15px; 
	margin:0;
	margin-top:2%;
    border:0 none;
    cursor:pointer;
	font-size:18px;
	box-shadow: 0 0 6px rgba(0,0,0,.3) inset;
    border-radius: 0 0 5px 5px; 
	transition:all .2s ease;
}

input[type=submit]:hover{
	background:#80f69d;
	color: black;
}

#contacto span {
	float: left;  
	width: 10em;  
	margin-right: 1em;  
}

#contacto form > div div {  
	float: left;  
	clear: left;  
	width: 100%;  
	padding-bottom: 1em;  
}

#contacto p{
	text-align:right;
	width:100%;
}

#contacto span {
	float: left;  
	width: 100%;  
	text-align: left;  
}

#contacto input[type=text], #contacto select{
	width: 75%;
	font-size:16px;
	box-sizing:border-box;
}



#contacto input, label, select, textarea{
	float:left;
}

textarea{
	width:100%;
	height:250px;
	margin-bottom:4%;
}