#contacto{
	box-sizing:border-box;
	padding:0;
}

#contacto form{
	padding:0;
}

#contacto form > div{
	width:49%;
	box-sizing:border-box;
	display:inline-block;
	vertical-align:top;
	padding:10px;
	margin:0;
	padding-bottom:3%;
}

#contacto form > div:nth-child(3){
	width:100%;
	height: 50px;
	padding:0;
}

input, textarea, select{
	border:1px rgb(200,200,200) solid;
	background-color:rgb(238,238,238);
}

input:focus, textarea:focus, select:focus{
	background-color:white;
}

input[type=submit]{
	background:#80d69d;
	width:100%;
	height: 50px;
	margin:0;
	color:rgb(238,238,238);
    border:0 none;
    cursor:pointer;
	font-size:20px;
	transition:all .2s ease;
}

input[type=submit]:hover{
	background:#80f69d;
	color: white;
}

#contacto span {
	float: left;  
	width: 10em;  
	margin-right: 1em;  
}

#contacto form > div div {  
	float: left;  
	clear: left;  
	width: 100%;  
	padding-bottom: 1em;  
}

#contacto em{
	color:grey;
}

#contacto p:nth-child(1){
	padding-top:3%;
}

#contacto p:nth-child(3){
	font-size: 15px;
	margin-bottom:0;
	color:grey;
}

#contacto p{
	font-size:18px;
	display:inline-block;
	width:100%;
	text-align:left;
	padding-left:15px;
}

#contacto span {
	float: left;  
	width: 100%;  
	text-align: left; 
	margin-bottom:10px;
}

#contacto input[type=text], #contacto select, textarea{
	width: 75%;
	font-size:18px;
	box-sizing:border-box;
}



#contacto input, label, select, textarea{
	float:left;
}

textarea{
	width:100%;
	height:250px;
	margin-bottom:4%;
}